<%# #create a card for each item %>



<div class="card border-dark rounded" style="width: 22rem; height:18rem">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body text-center">
    <h5 class="card-title"></h5>
    <p class="card-text">The number of the animal</p>
    <a href="#" class="btn btn-primary">Type 1</a>
    <a href="#" class="btn btn-warning">Type 2</a>
  </div>
</div>
