<div class = "container d-flex">

<%# sidebar %>
<%# <div class = "container p-3 bg-dark" > %>
<div class = "row bg-white">
<div class = "col-4">

<%# sidebar filters %>
<div class = "btn-group">
<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Age
  </button>
  <ul class="dropdown-menu">
    ...
  </ul>
</div>

<div class = "btn-group">
<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Abilities
  </button>
  <ul class="dropdown-menu">
    ...
  </ul>
</div>

<div class = "btn-group">
<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Location
  </button>
  <ul class="dropdown-menu">

  </ul>
</div>
</div>
</div>
</div>

<%# <div class = "container p-3 bg-white" > %>
<div class = "row">
<div class = "col-8">
<ul>
<% @animals.each do |animal| %>
<li><%= animal.name %></li>
<% end %>
</ul>
</div>
</div>
</div>
</div>
