<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h1>Add new tag for <%= @animal.name %></h1>

      <%= simple_form_for [@animal, @animal_ability] do |f| %>
        <%= f.association :ability, as: :check_boxes, collection: Ability.all %>
        <%= f.submit "Add ability", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
