.animal-card {
  border-radius: 8px;
  box-shadow: 4px 1px 10px 1px #252330;
  height: 450px;
  width: auto;
}

.card-img {
  height: 250px;
  width: 350px;
}

.my-animal-card {
  height: 250px;
  width: auto;
}

.show-img {
  height:700px;
  width: 600px;
}
